
html {
	font-size: 150%;
}

h1 {
	font-family: cursive;
	text-align: center;
	text-shadow: .2em .2em .3em silver;
	background: maroon;
	height: 110px;
	border-style: solid;
	border-radius: 1em;
	

}

body {
	background-image: radial-gradient(white 60%, green);
	font-family: time;
	z-index: 1;

}

#front {

	text-align: center;
	size: 10%;
}


h2 {
	text-align: center;
	font-size: 80%;
	font-family: time;

}

h4 {
	text-align: center;
}



.TOC {
	position: relative;
	background: maroon;
	width: 150px;
	hieght: 60px;
	font-family: time;
	font-size: 80%;
	margin-top: -8rem;
	float: right;	
	box-sizing: content-box;
	padding-left: 0.01em;
	padding-right: 0.01em;
	padding-bottom: 0.6em;
	border-style: solid;
	border-radius: 0.5em;
}

#TOC {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 10%;
	height: 20%;
	margin-top: -8rem;
	float: right;
	text-align: center;
	color: #f39c12;
	border-style: solid;
	border-radius: 1em;
	border-color: black;
	background: maroon;
}

#TOC > div {
  background-color: #f1f1f1;
  height: 2px;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  background: black;
  text-align: center;
  
}

a {
	color: #f39c12;	
{

ul {
	list-style-type: none;
}

footer {
	position: relative;
	font-size: 20%;
	top: 10em;
	right: .2em;
  	margin-bottom: 0;
  	margin-top: 6rem;
	font-family: time;	
}


footer:active {
	color: maroon;
}